{% extends 'frontend/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <a href="{% url 'product_detail' product.id  %}"><img src="{{ product.product_image }}" class="img-fluid"></a>
                    <div class="card-body">
                        <a href="{% url 'product_detail' product.id  %}"><h5 class="card-title">{{ product.product_name }}</h5></a>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h6>{{ product.product_price }} THB</h6>
                            </div>
                            <div class="col-md-6 text-end">
                                {{ product.product_barcode }}
                            </div>
                        </div>

                        <p class="card-text">{{ product.product_detail | truncatewords:15 | linebreaks }}</p>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'product_detail' product.id  %}" class="btn btn-success">View More</a>
                            </div>
                            <div class="col-md-6 text-end">
                                <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
    